.content-crud-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 24px;
  width: 280px;
  margin: 15px 10px;
  padding: 10px;
  text-align: center;
}

.content-crud-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-crud-info h3 {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.content-crud-info h5 {
  font-size: 0.75em;
  font-weight: 300;
  letter-spacing: -0.02em;
}

.content-crud-card img {
  width: 150px;
  height: 150px;
  margin: 10px 0px;
}

.content-crud-frame {
  margin-top: 15px;
}

.content-crud-frame iframe {
  width: 250px;
  height: 200px;
}

.content-card-buttons {
  width: 280px;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 576px) {
  .content-crud-container {
    width: 530px;
  }
}

@media (min-width: 768px) {
  .content-crud-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 738px;
    height: 350px;
  }
}

@media (min-width: 992px) {
  .content-crud-container {
    width: 700px;
    flex-direction: row;
  }

  .content-crud-card {
    height: 200px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .content-crud-info {
    width: 350px;
  }

  .content-crud-info h3 {
    font-size: 1.5em;
  }

  .content-crud-info h5 {
    font-size: 0.7em;
    letter-spacing: -0.015em;
  }

  .content-crud-frame iframe {
    width: 200px;
    height: 150px;
  }

  .content-card-buttons {
    width: 100px;
    align-items: center;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .content-crud-card {
    width: 1000px;
  }
}

@media (min-width: 1400px) {
  .content-crud-card {
    width: 1300px;
  }
}
