.admin-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.admin-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

@media (min-width: 992px) {
  .admin-page {
    flex-direction: row;
  }
}
